.container {
    padding: 0 10px 60px;
    min-width: 375px;
}

@media screen and (min-width: 640px) {
    .container {
        padding: 0 10px;
        min-width: 640px;
    }
}

@media screen and (min-width: 980px) {
    .container {
        padding: 0 20px;
        min-width: 980px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1920px;
        margin: 0 auto;
        padding: 100px 50px 0;
    }
}
