:root {
    --primary-white-color: #ffffff; /* основной белый цвет*/
    // --primary-black-color: #000000; /* основной черный цвет*/
    --primary-text-color: #313131; /*основной цвет текста*/
    --secondary-text-color: #929292; /*основной цвет текста*/
    // --background-color: #fff; /*бекграунд*/
//     --accent-color: #d41443; /*цвет акцента*/
//     --background-accent-btn: #ecebeb; /*цвет бекграунда кнопки*/
//     --background-secondary-btn: #c7133e; /*вторичный цвет бекграунда кнопки*/
//     --secondary-accent: #ffa5ba; /*вторичный цвет акцента (используется в title)*/
//     --background-yellow: #f0d1a5; /*желтый бекграунд*/
//     --background-green: #c2e297; /*зелёный бекграунд*/
  }