<div id="informer-error" class="underlay" hidden>
    <div class="informer-error">
        <div class="informer-error__title-wrapper">
            <div class="informer-error__title">SMART DESIGN</div>
            <button id="informer-error-close-button" type="button" class="btn">
                <include src="icons/crossLogo.html"></include>
            </button>
        </div>
        <div class="informer-error__icon-wrapper">
            <include src="icons/informer/errorLogo.html" />
        </div>
        <div id="informer-message" class="informer-error__text"></div>
    </div>
</div>
