<div id="informer-success" class="underlay" hidden>
    <div class="informer success">
        <div class="informer__title-wrapper">
            <div class="informer__title">SMART DESIGN</div>
            <button id="informer-success-close-button" type="button" class="btn">
                <include src="icons/crossLogo.html"></include>
            </button>
        </div>
        <div id="informer-icon" class="informer__icon-wrapper">
            <include src="icons/informer/successLogo.html" />
        </div>
        <div id="informer-text" class="informer__text">
            Сообщение об успешной отправке или оплате, или информер с номером заказа S01-585895145
        </div>
    </div>
</div>
