<li class='modal__item main-block-item'>
    <button type='button' class='modal__item-button btn'>
        <div class='modal__item-text'>{{this}}</div>
        <div class='modal__icon-wrapper'>
            <svg
                class='arrowRightLogo'
                width='16'
                height='16'
                viewBox='0 0 16 16'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
            >
                <path
                    fill-rule='evenodd'
                    clip-rule='evenodd'
                    d='M5.81995 3.2691C6.01651 3.10062 6.31243 3.12338 6.48091 3.31994L10.2309 7.69494C10.3814 7.87048 10.3814 8.12952 10.2309 8.30506L6.48091 12.6801C6.31243 12.8766 6.01651 12.8994 5.81995 12.7309C5.62339 12.5624 5.60063 12.2665 5.76911 12.0699L9.25763 8L5.76911 3.93006C5.60063 3.7335 5.62339 3.43758 5.81995 3.2691Z'
                    fill='#313131'
                />
            </svg>
        </div>
    </button>
    <span id='modal-item-desription' class='modal__item-description'></span>
</li>