<li class='personal__orders-item'>
    <div class='personal__orders-order-number-wrapper'>
        <p class='personal__orders-order-number'>{{number}}</p>
        <p class='personal__orders-products-quantity'>{{quantity}} товара</p>
    </div>
    <button class='personal__orders-item-btn btn btn--white'>Повторить заказ</button>
    <p class='personal__orders-item-status'>{{status}}</p>
</li>