<li class='personal__orders-item'>
    <div class='personal__order-number-wrapper'>
        <p class='personal__order-number'>{{number}}</p>
        <button class='personal__orders-item-btn btn btn--white'>Повторить заказ</button>
    </div>
    <div class='personal__order-address'>{{address}}</div>
    <p class='personal__order-status'>{{status}}</p>
    <p class='personal__order-price'>{{price}}</p>
</li>