.btn {
    @include fc(center);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 200ms ease;

    &--black {
        color: #f8f8f8;
        background-color: var(--primary-text-color);

        &:hover {
            background-color: #3f3f3f;
        }
    }

    &--white {
        color: var(--primary-text-color);
        background-color: #fff;
        border: 1px solid var(--primary-text-color);
    }

    &:disabled,
    &--grey {
        color: #f8f8f8;
        background-color: var(--primary-text-color);
        opacity: 0.4;
    }
}
