.checkbox {
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__input {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:checked + .checkbox__checkbox {
            border: 1px solid var(--primary-text-color);

            .checkbox__checkbox-inner {
                display: block;
            }
        }
    }

    &__checkbox {
        @include fc(center);
        position: relative;
        margin-right: 16px;
        width: 18px;
        height: 18px;
        border: 1px solid #e8e8e8;

        .checkbox__checkbox-inner {
            display: none;
            width: 8px;
            height: 8px;
            background-color: var(--primary-text-color);
        }
    }

    &__description {
        font-size: 17px;
        line-height: 1.6;
        color: var(--secondary-text-color);
    }
}

@media screen and (min-width: 1920px) {
    .checkbox {
        &__checkbox {
            width: 22px;
            height: 22px;

            .checkbox__checkbox-inner {
                width: 10px;
                height: 10px;
            }
        }
    }
}
