<div class="slider">
    <div class="slider-progress"></div>
</div>
<div class="range-input">
    <input value="1200" class="range-min" type="range" min="1200" max="18000" step="100" />
    <input value="18000" class="range-max" type="range" min="1200" max="18000" step="100" />
</div>
<div class="price-container">
    <label class="price-wrapper">
        <span class="price-label">Мин. цена</span>
        <input class="price-input input-min" type="number" value="1200" />
    </label>
    <label class="price-wrapper">
        <span class="price-label">Макс. цена</span>
        <input class="price-input input-max" type="number" value="18000" />
    </label>
</div>
