<main class="policy">
    <include src="components/titleBlock.html" locals='{ "title": "Пользовательское соглашение"}'></include>
    <div class="container">
        <div class="policy__title-block">
            <h2 class="title-block__title">Пользовательское соглашение</h2>
            <div class="title-block__nav">
                <a href="index.html" class="title-block__link">Главная</a> / Пользовательское соглашение
            </div>
        </div>
        <ul id="agreement-list" class="policy__list"></ul>
    </div>
</main>
<script src="./js/main.js" type="module" defer></script>
<script src="./js/agreement.js" type="module" defer></script>
