<main class="b2b container">
    <h2 class="b2b__title main">Философия LAMY выражена в слогане: «Дизайн. Сделано в Германии».</h2>
    <p class="b2b__description">
        Философия LAMY выражена в слогане: «Дизайн. Сделано в Германии». Эти пишущие инструменты стали символом
        инновативности, функциональности и высокого дизайна. В деловой сфере ручка LAMY это, пожалуй, самый неординарный
        носитель рекламы, презент для делового партнера или подарок, мотивирующий персонал.
    </p>
    <div class="b2b__catalog">
        <div class="b2b__catalog-wrapper">
            <h2 class="b2b__title">Каталог LAMY B2B</h2>
            <p class="b2b__description-secondary">
                В каталоге Lamy B2B Вы можете ознакомиться с возможными типами брендирования с примерами на каждой
                модели ручек
            </p>
            <a href="#" class="b2b__download-catalog">скачать каталог</a>
        </div>
        <div class="b2b__image">
            <img src="images/b2b/b2b.png" alt="pens" />
        </div>
    </div>
    <div class="b2b__form-wrapper">
        <h3 class="b2b__form-description">
            Если Вас интересуют В2В возможности Lamy, пожалуйста, заполните форму внизу, и мы свяжемся с Вами.
        </h3>
        <form class="b2b__form">
            <div class="b2b__form-name-wrapper">
                <div class="b2b__form-input-wrapper">
                    <div class="b2b__form-input-description">Имя</div>
                    <input name="name" type="text" class="b2b__form-input input input-required" />
                </div>
                <div class="b2b__form-input-wrapper">
                    <div class="b2b__form-input-description">Телефон</div>
                    <input name="phone" type="number" class="b2b__form-input input input-required" />
                </div>
            </div>
            <div class="b2b__form-input-wrapper">
                <div class="b2b__form-input-description">Требования к продукту</div>
                <textarea name="message" type="text" class="b2b__form-input textarea input-required"></textarea>
            </div>
        </form>
        <button id="b2b-form-btn" class="b2b__form-btn btn btn--black">Отправить</button>
    </div>
    <div class="b2b__models">
        <h2 class="b2b__models-title">Доступные для нанесений модели</h2>
        <ul class="b2b__models-list">
            <li class="b2b__models-item">
                <div class="b2b__models-item-image"><img src="images/b2b/pen4.png" alt="pens" /></div>
                <div class="b2b__models-item-name">rhody classic</div>
            </li>
            <li class="b2b__models-item">
                <div class="b2b__models-item-image"><img src="images/b2b/pen4.png" alt="pens" /></div>
                <div class="b2b__models-item-name">rhody classic</div>
            </li>
            <li class="b2b__models-item">
                <div class="b2b__models-item-image"><img src="images/b2b/pen4.png" alt="pens" /></div>
                <div class="b2b__models-item-name">rhody classic</div>
            </li>
            <li class="b2b__models-item">
                <div class="b2b__models-item-image"><img src="images/b2b/pen4.png" alt="pens" /></div>
                <div class="b2b__models-item-name">rhody classic</div>
            </li>
            <li class="b2b__models-item">
                <div class="b2b__models-item-image"><img src="images/b2b/pen4.png" alt="pens" /></div>
                <div class="b2b__models-item-name">rhody classic</div>
            </li>
            <li class="b2b__models-item">
                <div class="b2b__models-item-image"><img src="images/b2b/pen4.png" alt="pens" /></div>
                <div class="b2b__models-item-name">rhody classic</div>
            </li>
        </ul>
    </div>
</main>
<script src="./js/main.js" type="module" defer></script>
