<main class="error container">
    <div class="error__icon">
        <include src="icons/404.html"></include>
    </div>
    <h3 class="error__title">Страница не найдена</h3>
    <p class="error__text">
        Шаблонный текст используют на сайтах, в полиграфической продукции, в презентациях, в журналах и т.д.
        Рандомизатор создает текст-заполнитель.
    </p>
    <a href="catalog.html" class="error__btn btn btn--black">Вернуться в каталог</a>
</main>
<script src="./js/main.js" type="module" defer></script>
