<section class="main__wrapper">
    <div class="glide main__carousel">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides main__carousel-list">
                <li class="glide__slide main__carousel-item main__luxury-item">
                    <h2 class="main__luxury-item-title">LUXURY ACCESORIES</h2>
                </li>
                <li class="glide__slide main__carousel-item main__rhodia-item">
                    <div class="main__rhodia-block">
                        <p class="main__rhodia-text">Скидки на наборы для офиса</p>
                        <a href="catalog.html" class="main__catalog-link">Перейти в каталог</a>
                    </div>
                </li>
                <li class="glide__slide main__carousel-item main__want-item">
                    <div class="main__want-item-block">
                        <p class="main__store">SMART DESIGN STORE</p>
                        <p class="main__want-text">YOU WANT, WE GOT IT</p>
                        <a href="product.html" class="main__product-link">Перейти к товару</a>
                    </div>
                </li>
                <li class="glide__slide main__carousel-item main__design-item">
                    <div class="main__design-block">
                        <p class="main__design-text">Designs and luxury like never before</p>
                        <a href="catalog.html" class="main__design-link">Перейти в каталог</a>
                    </div>
                </li>
                <li class="glide__slide main__carousel-item main__design-item">
                    <div class="main__design-block">
                        <p class="main__design-text">Designs and luxury like never before</p>
                        <a href="catalog.html" class="main__design-link">Перейти в каталог</a>
                    </div>
                </li>
            </ul>
            <div data-glide-el="controls" class="main__controls">
                <button type="button" class="glide__arrow main__controls-arrow left btn" data-glide-dir="<">
                    <div class="main__controls-arrow-left-wrapper">
                        <include src="icons/main/arrowLeftLogo.html" />
                    </div>
                </button>
                <button type="button" class="glide__arrow main__controls-arrow right btn" data-glide-dir=">">
                    <div class="main__controls-arrow-right-wrapper">
                        <include src="icons/main/arrowRightLogo.html" />
                    </div>
                </button>
                <ul class="main__page-controls">
                    <li class="main__page-controls-item active">
                        <p class="main__page-controls-number">01.</p>
                        <p class="main__page-controls-text">Перьвые ручки</p>
                    </li>
                    <li class="main__page-controls-item">
                        <p class="main__page-controls-number">02.</p>
                        <p class="main__page-controls-text">Пеналы</p>
                    </li>
                    <li class="main__page-controls-item">
                        <p class="main__page-controls-number">03.</p>
                        <p class="main__page-controls-text">Чернила</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
