<main class="main">
    <include src="components/content/mainCarousel.html"></include>
    <div class="container">
        <section class="main__hit">
            <p class="main__subtitle">Наши товары</p>
            <h2 class="main__title">Хиты продаж</h2>
            <ul class="main__hit-gallery">
                <li class="main__hit-gallery-item">
                    <div class="main__hit-gallery-image">
                        <img src="images/main/hit/image1.png" />
                    </div>
                    <div class="main__hit-gallery-description">
                        <h3 class="main__hit-gallery-description-title">Аксессуары</h3>
                        <p class="main__hit-gallery-description-text">
                            Etiam dignissim diam quis enim. Proin sagittis nisl rhoncus mattis rhoncus urna neque.
                            Tempus iaculis urna id volutpat.
                        </p>
                    </div>
                </li>
                <li class="main__hit-gallery-item">
                    <div class="main__hit-gallery-image">
                        <img src="images/main/hit/image2.png" />
                    </div>
                    <div class="main__hit-gallery-description">
                        <h3 class="main__hit-gallery-description-title">Перьевые ручки</h3>
                        <p class="main__hit-gallery-description-text">
                            Etiam dignissim diam quis enim. Proin sagittis nisl rhoncus mattis rhoncus urna neque.
                            Tempus iaculis urna id volutpat.
                        </p>
                    </div>
                </li>
                <li class="main__hit-gallery-item">
                    <div class="main__hit-gallery-image">
                        <img src="images/main/hit/image3.png" />
                    </div>
                    <div class="main__hit-gallery-description">
                        <h3 class="main__hit-gallery-description-title">Чернильные ручки</h3>
                        <p class="main__hit-gallery-description-text">
                            Etiam dignissim diam quis enim. Proin sagittis nisl rhoncus mattis rhoncus urna neque.
                            Tempus iaculis urna id volutpat.
                        </p>
                    </div>
                </li>
                <li class="main__hit-gallery-item desktop">
                    <div class="main__hit-gallery-image">
                        <img src="images/main/hit/image4.png" />
                    </div>
                    <div class="main__hit-gallery-description">
                        <h3 class="main__hit-gallery-description-title">Пеналы</h3>
                        <p class="main__hit-gallery-description-text">
                            Etiam dignissim diam quis enim. Proin sagittis nisl rhoncus mattis rhoncus urna neque.
                            Tempus iaculis urna id volutpat.
                        </p>
                    </div>
                </li>
            </ul>
        </section>
        <section class="section main__lamy">
            <div class="main__lamy-description">
                <h2 class="main__lamy-title">Lamy — классика</h2>
                <p class="main__lamy-description-text">
                    Nec ullamcorper sit amet risus nullam eget felis eget nunc. Risus feugiat in ante metus dictum at.
                    Etiam dignissim diam quis enim. Proin sagittis nisl rhoncus mattis. Nec ullamcorper sit amet risus
                    nullam eget felis eget nunc. Nec ullamcorper sit amet risus nullam eget felis eget nunc.
                </p>
            </div>
            <div class="main__lamy-image">
                <img src="images/main/lamy-classic.png" alt="pen" />
            </div>
        </section>
        <section class="section main__new-products">
            <p class="main__subtitle">Наши товары</p>
            <h2 class="main__title">Новые поступления</h2>
            <ul id="new-products" class="catalog__products"></ul>
        </section>
        <section class="section main__sale">
            <div class="main__sale-wrapper">
                <div class="main__sale-left-block">
                    <div class="main__sale-image">
                        <img src="images/main/ad/pen2.png" alt="pen" />
                    </div>
                    <div class="main__sale-price">₽ 199.99</div>
                </div>
                <div class="main__sale-title-block">
                    <h2 class="main__sale-title">SALE %</h2>
                    <h2 class="main__sale-title-desktop">Добавьте комфорта к рабочему столу</h2>
                    <a class="main__sale-catalog-link">Перейти в каталог</a>
                </div>
                <div class="main__sale-right-block">
                    <div class="main__sale-image-right">
                        <img src="images/main/ad/pen1.png" alt="pen" />
                    </div>
                    <div class="main__sale-price">₽ 199.99</div>
                </div>
            </div>
        </section>
        <section class="section main__popular">
            <p class="main__subtitle">Наши товары</p>
            <h2 class="main__title">Популярные категории</h2>
            <ul class="main__categories-list">
                <li class="main__categories-item">
                    <img src="images/main/popular/image1.png" alt="pen" />
                    <div class="main__categories-item-name">Ручки</div>
                </li>
                <li class="main__categories-item">
                    <img src="images/main/popular/image2.png" alt="pen" />
                    <div class="main__categories-item-name">Чернила</div>
                </li>
                <li class="main__categories-item">
                    <img src="images/main/popular/image3.png" alt="pen" />
                    <div class="main__categories-item-name">Перья</div>
                </li>
                <li class="main__categories-item">
                    <img src="images/main/popular/image4.png" alt="pen" />
                    <div class="main__categories-item-name">Блокноты</div>
                </li>
            </ul>
        </section>
        <section class="section main__lamy-history">
            <h2 class="main__lamy-history-title">История бренда Lamy</h2>
            <p class="main__lamy-history-text">
                В последнее время Lamy переживает настоящий бум популярности, а бестселлер – ручки Lamy safari,
                выпускающиеся каждый год в новом цвете, стали предметом коллекционирования. Ручки Lamy - это излюбленный
                инструмент молодежи и творческих людей разных профессий: от художников до бизнесменов. Каждая ручка -
                это еще и стильный аксессуар, который может многое рассказать о своем владельце: о его неравнодушии к
                современному искусству, знании модных трендов и хорошем вкусе.
            </p>
            <p id="history-text-addition" class="main__lamy-history-text" hidden>
                В последнее время Lamy переживает настоящий бум популярности, а бестселлер – ручки Lamy safari,
                выпускающиеся каждый год в новом цвете, стали предметом коллекционирования. Ручки Lamy - это излюбленный
                инструмент молодежи и творческих людей разных профессий: от художников до бизнесменов. Каждая ручка -
                это еще и стильный аксессуар, который может многое рассказать о своем владельце: о его неравнодушии к
                современному искусству, знании модных трендов и хорошем вкусе.
            </p>
            <button id="more-history-text-button" type="button" class="main__more btn">
                <span class="main__more-text">Подробнее</span>
                <div class="arrowWrapper">
                    <include src="icons/product/arrowDownLogo.html"></include>
                </div>
            </button>
        </section>

        <section class="section main__seo">
            <h2 class="main__lamy-history-title">SEO Text</h2>
            <p class="main__seo-description">
                Bibendum enim facilisis gravida neque convallis a faucibus et molestie ac feugiat sed augue interdum
                velit euismod in pellentesque honcus aenean vel elit scelerisque mauris pellentesque pulvinar
                pellentesque habitant. Morbi quis commodo odio aenean. Amet est placerat in egestas erat imperdiet sed
                euismod nisi.
            </p>
            <ul class="main__seo-gallery">
                <li class="main__seo-item">
                    <img src="images/main/seo/seo-image1.png" alt="seo-image" />
                </li>
                <li class="main__seo-item">
                    <img src="images/main/seo/seo-image2.png" alt="seo-image" />
                </li>
                <li class="main__seo-item">
                    <img src="images/main/seo/seo-image3.png" alt="seo-image" />
                </li>
            </ul>
        </section>
        <section class="section main__tagline">
            <p class="main__tagline-text">
                “One of the only ways to get out of a tight box is to invent your way out.”
            </p>
        </section>
        <section class="section main__brands">
            <a href="catalogLamy.html" class="main__brand">
                <img src="images/main/logos/lamy.png" alt="lamy" />
                <div class="main__brand-link">Посмотреть в каталоге</div>
            </a>
            <a href="catalogRhodia.html" class="main__brand">
                <img src="images/main/logos/rhodia.png" alt="rhodia" />
                <div class="main__brand-link">Посмотреть в каталоге</div>
            </a>
            <a href="catalogHerbin.html" class="main__brand">
                <img src="images/main/logos/herbin.png" alt="herbin" />
                <div href="catalog.html" class="main__brand-link">Посмотреть в каталоге</div>
            </a>
            <a href="catalogTwsbi.html" class="main__brand">
                <img class="twbsi-img" src="images/main/logos/twsbi.png" alt="twsbi" />
                <div class="main__brand-link">Посмотреть в каталоге</div>
            </a>
        </section>
        <section class="main__advantages">
            <div class="main__advantages-wrapper">
                <div class="main__advantages-item">
                    <div class="main__advantages-icon">
                        <include src="icons/main/delivery.html" />
                    </div>
                    <h3 class="main__advantages-title">Бесплатная доставка</h3>
                    <h4 class="main__advantages-subtitle">На заказы от 6000 рублей</h4>
                </div>
                <div class="main__advantages-item">
                    <div class="main__advantages-icon">
                        <include src="icons/main/headphones.html" />
                    </div>
                    <h3 class="main__advantages-title">Поддержка</h3>
                    <h4 class="main__advantages-subtitle">Наши менеджеры всегда на связи</h4>
                </div>
                <div class="main__advantages-item">
                    <div class="main__advantages-icon">
                        <include src="icons/main/box.html" />
                    </div>
                    <h3 class="main__advantages-title">30 дней на возврат</h3>
                    <h4 class="main__advantages-subtitle">Замена или возврат в течении 30-ти дней</h4>
                </div>
                <div class="main__advantages-item">
                    <div class="main__advantages-icon">
                        <include src="icons/main/shield.html" />
                    </div>
                    <h3 class="main__advantages-title">Безопасные платежи</h3>
                    <h4 class="main__advantages-subtitle">Высокий уровень защиты</h4>
                </div>
            </div>
        </section>
        <section class="section main__сonsumables">
            <p class="main__subtitle">Наши товары</p>
            <h2 class="main__title">Расходные материалы</h2>
            <ul id="сonsumables-list" class="catalog__products"></ul>
        </section>
    </div>
</main>
<script src="./index.js" type="module" defer></script>
<script src="./js/basket.js" type="module" defer></script>
<script src="./js/main.js" type="module" defer></script>
