<main class="policy">
    <include src="components/titleBlock.html" locals='{ "title": "Политика конфиденциальности"}'></include>
    <div class="container">
        <div class="policy__title-block">
            <h2 class="title-block__title">Политика конфиденциальности</h2>
            <div class="title-block__nav">
                <a href="index.html" class="title-block__link">Главная</a> / Политика конфиденциальности
            </div>
        </div>
        <ul id="policy-list" class="policy__list"></ul>
    </div>
</main>
<script src="./js/main.js" type="module" defer></script>
<script src="./js/policy.js" type="module" defer></script>
