<a href="./product.html" class="card">
    <div class="card__image-block">
        <div class="card__top">ТОП</div>
        <div class="card__icon-like">
            <include src="icons/catalog/likeLogo.html" />
        </div>
        <div class="card__image-wrapper">
            <img src="images/large-pen.png" class="card__image" alt="product" />
        </div>
    </div>
    <div class="card__description-block">
        <div class="card__description">
            <div class="card__pen">
                <h3 class="card__title">RHODIOA CLASSIC</h3>
                <div class="card__pen-color"></div>
            </div>
            <div class="card__pen-size">S</div>
            <span class="card__pen-price">₽ 16 000</span>
        </div>
        <button type="button" class="card__basket-button btn btn--black">
            <include src="icons/catalog/basketWhiteLogo.html" />
        </button>
    </div>
</a>
