<div id="basket-modal" class="underlay" hidden>
    <div class="basket-modal">
        <div class="basket-modal__products">
            <div class="basket-modal__title-wrapper">
                <h2 class="basket-modal__title">КОРЗИНА</h2>
                <button id="basket-modal-close" type="button" class="basket-modal__cross-icon btn">
                    <include src="icons/crossLogo.html"></include>
                </button>
            </div>
            <ul class="basket-modal__products-list">
                <li class="basket-modal__products-item">
                    <div class="basket-modal__products-info-wrapper">
                        <div class="basket-modal__product-info">
                            <div class="basket-modal__product-title">LAMY</div>
                            <div class="basket-modal__product-subtitle">Ручка шариковая</div>
                            <div class="basket-modal__product-size">
                                <div class="basket-modal__product-size-color">Размер: <span>М</span> / Цвет:</div>
                                <div class="basket-modal__product-color color1"></div>
                            </div>
                        </div>
                        <div class="basket-modal__products-delete-icon">
                            <include src="icons/basket/trashLogo.html" />
                        </div>
                    </div>
                    <div class="basket-modal__products-price-wrapper">
                        <div class="basket-modal__products-counter">
                            <button type="button" class="basket-modal__products-minus btn">-</button>
                            <div class="basket-modal__products-quantity">2</div>
                            <button type="button" class="basket-modal__products-minus btn">+</button>
                        </div>
                        <div class="basket-modal__products-price">12.200,00 ₽</div>
                    </div>
                </li>
                <li class="basket-modal__products-item">
                    <div class="basket-modal__products-info-wrapper">
                        <div class="basket-modal__product-info">
                            <div class="basket-modal__product-title">LAMY</div>
                            <div class="basket-modal__product-subtitle">Ручка шариковая</div>
                            <div class="basket-modal__product-size">
                                <div class="basket-modal__product-size-color">Размер: <span>М</span> / Цвет:</div>
                                <div class="basket-modal__product-color color1"></div>
                            </div>
                        </div>
                        <div class="basket-modal__products-delete-icon">
                            <include src="icons/basket/trashLogo.html" />
                        </div>
                    </div>
                    <div class="basket-modal__products-price-wrapper">
                        <div class="basket-modal__products-counter">
                            <button type="button" class="basket-modal__products-minus btn">-</button>
                            <div class="basket-modal__products-quantity">2</div>
                            <button type="button" class="basket-modal__products-minus btn">+</button>
                        </div>
                        <div class="basket-modal__products-price">12.200,00 ₽</div>
                    </div>
                </li>
                <li class="basket-modal__products-item">
                    <div class="basket-modal__products-info-wrapper">
                        <div class="basket-modal__product-info">
                            <div class="basket-modal__product-title">LAMY</div>
                            <div class="basket-modal__product-subtitle">Ручка шариковая</div>
                            <div class="basket-modal__product-size">
                                <div class="basket-modal__product-size-color">Размер: <span>М</span> / Цвет:</div>
                                <div class="basket-modal__product-color color1"></div>
                            </div>
                        </div>
                        <div class="basket-modal__products-delete-icon">
                            <include src="icons/basket/trashLogo.html" />
                        </div>
                    </div>
                    <div class="basket-modal__products-price-wrapper">
                        <div class="basket-modal__products-counter">
                            <button type="button" class="basket-modal__products-minus btn">-</button>
                            <div class="basket-modal__products-quantity">2</div>
                            <button type="button" class="basket-modal__products-minus btn">+</button>
                        </div>
                        <div class="basket-modal__products-price">12.200,00 ₽</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="basket-modal__bottom-block">
            <div class="basket-modal__total-price-wrapper">
                <div class="basket-modal__total-price-text">ИТОГО</div>
                <div class="basket-modal__total-price">12.200,00 ₽</div>
            </div>
            <div class="basket-modal__buttons">
                <a href="basket.html" class="basket-modal__basket-button btn btn--black">Перейти в корзину</a>
                <button type="button" class="basket-modal__payment-button btn btn--black">Перейти к оплате</button>
            </div>
        </div>
    </div>
</div>
