<div id="search-modal" class="searchModalUnderlay" hidden>
    <div class="searchModal">
        <div class="searchModal__wrapper">
            <div class="searchModal__input-wrapper">
                <include src="icons/header/searchLogo.html"></include>
                <input id="search-input-desktop" type="text" class="searchModal__input" placeholder="Поиск" />
            </div>
            <div id="search-close" class="searchModal__cross-icon">
                <include src="icons/crossLogo.html"></include>
            </div>
        </div>
    </div>
</div>
