<header class="header">
    <nav class="header__navigation">
        <ul class="header__site-nav">
            <li class="header__site-nav-item">
                <a href="#" class="header__site-nave-link">
                    Продукты
                </a>
            </li>
            <li class="header__site-nav-item">
                <a href="#" class="header__site-nave-link">
                    Где купить
                </a>
            </li>
            <li class="header__site-nav-item">
                <a href="#" class="header__site-nave-link">
                    FAQ и сервис
                </a>
            </li>
            <li class="header__site-nav-item">
                <a href="#" class="header__site-nave-link">
                    О компании
                </a>
            </li>
            <li class="header__site-nav-item">
                <a href="#" class="header__site-nave-link">
                    Доставка
                </a>
            </li>
            <li class="header__site-nav-item">
                <a href="#" class="header__site-nave-link">
                    Бизнесу
                </a>
            </li>
        </ul>
    </nav>
    <div class="header__menu-icon icon-wrapper">
        <include src="./icons/menuLogo.html"></include>
    </div>
    <h1 class="header__title">SMART DESIGN</h1>
    <div class="header__icons-block">
        <div class="header__city">
            <div class="header__city-location">
                <include src="./icons/locationLogo.html"></include>
            </div>
            <div class="header__city-name">
                Москва
            </div>
            <div class="header__city-location-arrow">
                <include src="./icons/arrowDownBlackLogo.html"></include>
            </div>
        </div>
        <div class="header__icon640 icon-wrapper">
            <include src="./icons/searchLogo.html"></include>
        </div>
        <div class="icon-wrapper">
            <include src="./icons/basketLogo.html"></include>
        </div>
        <div class="header__icon640 icon-wrapper">
            <include src="./icons/humanLogo.html"></include>
        </div>
    </div>
</header>