<div class="basket__order-details-checkboxes">
    <label class="basket__order-details-label">
        <input name="delivery-service" type="radio" class="basket__order-details-input" checked />
        <div class="basket__order-details-ckeckbox">Boxberry</div>
    </label>
    <label class="basket__order-details-label">
        <input name="delivery-service" type="radio" class="basket__order-details-input" />
        <div class="basket__order-details-ckeckbox">Dostavista</div>
    </label>
    <label class="basket__order-details-label">
        <input name="delivery-service" type="radio" class="basket__order-details-input" />
        <div class="basket__order-details-ckeckbox">СДЭК</div>
    </label>
    <label class="basket__order-details-label">
        <input name="delivery-service" type="radio" class="basket__order-details-input" />
        <div class="basket__order-details-ckeckbox">Сбер Логистика</div>
    </label>
    <label class="basket__order-details-label">
        <input name="delivery-service" type="radio" class="basket__order-details-input" />
        <div class="basket__order-details-ckeckbox">КСЕ</div>
    </label>
</div>
