<div class="basket__order-delivery-checkboxes">
    <label class="basket__order-delivery-label">
        <input name="delivery-type" type="radio" class="basket__order-delivery-input" checked />
        <div class="basket__order-delivery-checkbox"></div>
        <div class="basket__order-delivery-description">В пункт выдачи</div>
    </label>
    <label class="basket__order-delivery-label">
        <input name="delivery-type" type="radio" class="basket__order-delivery-input" />
        <div class="basket__order-delivery-checkbox"></div>
        <div class="basket__order-delivery-description">До ячейки</div>
    </label>
    <label class="basket__order-delivery-label">
        <input name="delivery-type" type="radio" class="basket__order-delivery-input" />
        <div class="basket__order-delivery-checkbox"></div>
        <div class="basket__order-delivery-description">По адресу</div>
    </label>
</div>
