<footer class="footer">
    <include src="components/informer/informerSuccess.html"></include>
    <include src="components/informer/informerError.html"></include>
    <div class="footer__container">
        <div class="footer__info-block">
            <div class="logoMain">
                <a class="logoMain__link" href="index.html">
                    <include src="icons/logotype.html"></include>
                    <h2 class="footer__title">SMART DESIGN</h2>
                </a>
            </div>
            <p class="footer__subtitle">Подпишитесь на рассылку об акциях и новинках</p>
            <p class="footer__subtitle-tablet">
                His verterem consectetuer consequuntur ne, no virtute atomorum usuu molestie.
            </p>
            <div class="footer__input-wrapper">
                <input type="text" class="footer__input" placeholder="Email" />
                <div class="emailLogo-wrapper icon-wrapper">
                    <include src="./icons/social/mailLogo.html" />
                </div>
            </div>
            <div class="footer__social-network">
                <a href="https://vk.com/lamy_russia" target="_blank" class="icon-wrapper">
                    <include src="./icons/social/vkLogo.html"></include>
                </a>
                <a href="https://t.me/lamy_russia" target="_blank" class="icon-wrapper">
                    <include src="./icons/social/tgLogo.html"></include>
                </a>
                <a href="https://www.youtube.com/@lamy/featured" target="_blank" class="icon-wrapper">
                    <include src="./icons/social/youtubeLogo.html"></include>
                </a>
            </div>
            <div>
                <a href="policy.html" class="footer__policy">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
                <a href="agreement.html" class="footer__policy">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a>
            </div>
        </div>
        <nav class="footer__navigation-block">
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a href="catalog.html" class="footer__nav-link">Продукты</a>
                </li>
                <li class="footer__nav-item">
                    <a href="index.html" class="footer__nav-link">Главная</a>
                </li>
                <li class="footer__nav-item">
                    <a href="delivery.html" class="footer__nav-link">Доставка</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Как заказать</a>
                </li>
                <li class="footer__nav-item">
                    <a href="payment.html" class="footer__nav-link">Оплата</a>
                </li>
                <li class="footer__nav-item">
                    <a href="about.html" class="footer__nav-link">О компании</a>
                </li>
                <li class="footer__nav-item">
                    <a href="faq.html" class="footer__nav-link">FAQ</a>
                </li>
                <li class="footer__nav-item">
                    <a href="blog.html" class="footer__nav-link">Блог</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Сервис</a>
                </li>
                <li class="footer__nav-item">
                    <a href="contacts.html" class="footer__nav-link">Контакты</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Возврат</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Гарантии на товар</a>
                </li>
            </ul>
        </nav>
        <div class="footer__input-desktop-block">
            <p class="footer__input-desktop-text">Подпишитесь на рассылку об акциях и новинках</p>
            <div class="footer__input-desktop-wrapper">
                <input class="footer__input-desktop" type="text" placeholder="Email" />
                <button class="footer__input-desktop-button btn btn--black">Подписаться</button>
            </div>
        </div>
    </div>
    <div class="footer__lower-block">
        <a href="#" class="footer__policy-lower"> ПОЛИТИКА КОНФЕДЕНЦИАЛЬНОСТИ </a>
        <p class="footer__copyright">© SMART DESIGN 2022</p>
        <p class="footer__copyright-desktop">© SMART DESIGN. DESIGNED BY HOME STUDIO</p>
        <div class="footer__payment-icons">
            <div class="footer__payment-icon">
                <include src="./icons/payment/mirLogo.html" />
            </div>
            <div class="footer__payment-icon">
                <include src="./icons/payment/visaLogo.html" />
            </div>
            <div class="footer__payment-icon">
                <include src="./icons/payment/masterCardLogo.html" />
            </div>
        </div>
    </div>
</footer>
