<div id="price-filter" class="filter-desktop">
    <div class="filter-desktop__title">
        <div class="filter-desktop__title-name">
            <div class="filter-desktop__title-checkboxes-quantity-wrapper">
                ПО ЦЕНЕ
                <span class="filter-desktop__title-checkboxes-quantity"></span>
            </div>
        </div>
        <div class="filter-desktop__title-icon">
            <div class="filter-desktop__arrow-icon">
                <include src="icons/arrowDownLogo.html"></include>
            </div>
            <div class="filter-desktop__cross-icon" hidden>
                <include src="icons/crossLogo.html"></include>
            </div>
        </div>
    </div>
    <div class="filter-price filter-desktop__options" hidden>
        <include src="components/ui-kit/slider.html"></include>
        <button type="button" class="filter-desktop__button btn btn--grey">Применить</button>
    </div>
</div>
